@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src= "https://i.pinimg.com/564x/95/da/78/95da785f9150e3aa9ee42c4b04026c63.jpg" alt="african wild cat">
    <h2> 
        "Menstruation period for African Wild Cats is 14 days" - Miguel Angel Reveles
    </h2>
</div>
